Repository JimmyAyivor/street-verse-app, changes with the owners that CODEOWNERS names for each.
All owners: @JimmyAyivor, @ctay47, @Jorge-Carrera, @Nique444

fix action_buttons
  front-end/src/components/Dropdowns/EventTableDropdown.js
  front-end/src/components/Dropdowns/MessageTableDropdown.js
  front-end/src/components/Dropdowns/UserTableDropdown.js
Owners: @JimmyAyivor

*
  front-end/src/App.js
  front-end/src/components/Cards/CardEvent.js
  front-end/src/components/Cards/CardMessage.js
  front-end/src/components/Dropdowns/MessageTableDropdown.js
Owners: @JimmyAyivor

update README
  README.md
  back-end/app.js
  back-end/db/schema.sql
Owners: @ctay47, @JimmyAyivor

Smaller How it Works Pics
  front-end/src/pages/howItWorks.js
Owners: @JimmyAyivor

Smaller How it Works Pics and about Fix
  front-end/src/pages/about.js
Owners: @JimmyAyivor

admin mesaages
  front-end/src/components/BackToTop/ScrollButton.js
  front-end/src/components/Cards/CardMessage.js
  front-end/src/components/Cards/CardMessages.js
  front-end/src/components/Cards/CardUser.js
  front-end/src/components/Dropdowns/MessageTableDropdown.js
  front-end/src/components/Modals/MessageModal.js
  front-end/src/components/Navbars/GlobalNavbar.js
Owners: @JimmyAyivor

contact form email
  back-end/package-lock.json
  back-end/package.json
  back-end/server.js
Owners: @JimmyAyivor

contact form email
  front-end/src/pages/contact.js
Owners: @JimmyAyivor

How it works & about
  front-end/src/pages/about.js
  front-end/src/pages/howItWorks.js
Owners: @JimmyAyivor

connected contact form to backend
  back-end/server.js
  front-end/src/pages/contact.js
Owners: @JimmyAyivor

new push
  front-end/src/pages/contact.js
Owners: @JimmyAyivor

updates events cards
  front-end/src/pages/events.js
Owners: @JimmyAyivor

admin messages
  front-end/src/components/Cards/CardSettings.js
  front-end/src/components/Cards/CardTable.js
  front-end/src/components/Cards/CardUser.js
  front-end/src/components/Menus/EventTableMenu.js
  front-end/src/components/Menus/IndexDropdown.js
  front-end/src/components/Menus/MessageTableMenu.js
  front-end/src/components/Menus/NotificationDropdown.js
  front-end/src/components/Menus/PagesDropdown.js
  front-end/src/components/Menus/TableDropdown.js
  front-end/src/components/Menus/UserDropdown.js
  front-end/src/components/Menus/UserTableMenu.js
  front-end/src/components/Modals/EventModal.js
  front-end/src/components/Modals/MessageModal.js
  front-end/src/components/Modals/UserModal.js
  front-end/src/components/Navbars/AdminNavbar.js
  front-end/src/components/Sidebar/Sidebar.js
  front-end/src/context/AuthContext.js
  front-end/src/hooks/useAuthContext.js
  front-end/src/index.js
Owners: @JimmyAyivor

fix icons
  back-end/package.json
  front-end/src/App.js
  package-lock 2.json
  package-lock 3.json
  package-lock 4.json
Owners: @JimmyAyivor

updates events cards gradient and anchor tags
  front-end/src/pages/events.js
Owners: @JimmyAyivor

contact us form working
  back-end/package-lock.json
Owners: none

contact us form working
  front-end/package-lock.json
  front-end/src/pages/contact.js
  package-lock.json
Owners: @JimmyAyivor

Update CardMessages.js
  front-end/src/components/Cards/CardMessages.js
Owners: @JimmyAyivor

Added MP4
  .DS_Store
  back-end/.DS_Store
  back-end/package-lock.json
  front-end/src/pages/about.js
  front-end/src/pages/community.js
  front-end/src/pages/howItWorks.js
Owners: @JimmyAyivor

Added MP4
  .DS_Store
Owners: none

Pic & Vid WOrk
  .DS_Store
Owners: none

Update community.js
  front-end/src/pages/community.js
Owners: @JimmyAyivor

Delete package-lock.json
  back-end/package-lock.json
Owners: none

package-lock re-upload
  back-end/db/schema.sql
  back-end/queries/users.js
  front-end/src/App.js
  front-end/src/components/Cards/CardEvent.js
  front-end/src/components/Cards/CardMessages.js
  front-end/src/components/Cards/CardUsers.js
  front-end/src/components/Menus/EventTableMenu.js
  front-end/src/components/Modals/EventModal.js
  front-end/src/components/Sidebar/Sidebar.js
  front-end/src/pages/contact.js
Owners: @JimmyAyivor

CODEOWNERS:

#
#
#
#
#
#

 *.js            @JimmyAyivor
 *.md            @ctay47 @JimmyAyivor
 components/*    @JimmyAyivor @Jorge-Carrera
 *.css           @Nique444 @JimmyAyivor
